* {
  margin-left: 0;
  margin-right: 0;
}
:root {
  --up-move: -350px;
  --background: #181820;
  --main-text: #ff9387;
}

@media (min-width: 1030px) {
    .background-video {
      display: block;
    }
    .background-video-mobile {
      display: none;
    }
  .welcome-box {
    margin-left: 10%;
    margin-top: 15rem;
    width: 500px;

  }
  .credits-jubair {
    margin-left: 80%;
  }
  .welcome-para {
    line-height: 3rem;
    font-size: 1.4rem;
  }
  .text-mirpur {
    transform: translateY(var(--up-move));
  }
  .vis-on-mobile {
    display: none;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
  }
  .svg-holder {
    display: grid;
    position: absolute;
    top: 45%;
    animation: slick-intro-off 5s linear 1 forwards;
  }
  .ali-right {
    text-align: right;
  }
  .ali-left {
    text-align: left;
  }
  .teachers-desc {
    text-align: justify;
    text-justify: inter-word;
  }
  .teachers-main {
    grid-template-areas:
      "name teacher-img"
      "description teacher-img"
      "teacher-img-2 name-2"
      "teacher-img-2 description-2"
      "name-3 teacher-img-3"
      "description-3 teacher-img-3";
  }
  .sir-desc {
    font-size: 27px;
    line-height: 3rem;
  }
  .teachers-desc {
    width: 76vw;
    padding-left: 10px;
    font-size: 25px;
  }
  .sub-heading {
    letter-spacing: 1px;
  }
  .blogs {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
  "blogs-head blogs-head"
  "blogs-sub blogs-sub"
  "eng-blog bn-blog"
  ;
  }
  ::-webkit-scrollbar {
  width: auto;
  }
  .clock-main {
    padding: 0px 40px;
  }
  .ict-lab {
  grid-template-areas: 
  "lab-para lab-pic"
  "lab-clock-sub lab-clock-sub"
  "lab-clock-para lab-clock-para"
  "clock-main clock-main"
  ;
  }
  .announcements-lab {
    text-align: left;
    margin: 100px 0px 30px 10px;

  }
  .announcements-para {
    margin-left: 20px;
  }
}
@media (max-width: 1030px) {
    .background-video {
      display: block;
    }
    .background-video-mobile {
      display: none;
    }
  .cool-back {
    justify-items: center;
  }
  .welcome-box {
    width: 500px;
    margin-top: 15rem;
  }
  .welcome-para {
    line-height: 3rem;
    font-size: 1.4rem;
  }
  .text-mirpur {
    transform: translateY(var(--up-move));
  }
  .vis-on-mobile {
    display: none;
  }
  header {
    position: fixed;
    top: 0px;
    left: 0;
    justify-content: flex-start;
  }
  .sub-heading {
    letter-spacing: 1px;
  }
  .svg-holder {
    display: grid;
    position: absolute;
    top: 45%;
    animation: slick-intro-off 5s linear 1 forwards;
  }
  .ali-right {
    text-align: right;
  }
  .ali-left {
    text-align: left;
  }
  .teachers-desc {
    text-align: justify;
    text-justify: inter-word;
  }
  .teachers-main {
    grid-template-areas:
      "name teacher-img"
      "description teacher-img"
      "teacher-img-2 name-2"
      "teacher-img-2 description-2"
      "name-3 teacher-img-3"
      "description-3 teacher-img-3"
      "quote quote";
  }
  .sir-desc {
    font-size: 27px;
    line-height: 3rem;
  }
  .teachers-desc {
    width: 76vw;
    padding-left: 10px;
    font-size: 25px;
  }
  .blogs {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
  "blogs-head blogs-head"
  "blogs-sub blogs-sub"
  "eng-blog bn-blog"
  ;
    }
  ::-webkit-scrollbar {
  display: none;
  }
  .clock-main {
    padding: 0px 40px;
  }
  .ict-lab {
  grid-template-areas: 
  "lab-para lab-pic"
  "lab-clock-sub lab-clock-sub"
  "lab-clock-para lab-clock-para"
  "clock-main clock-main"
  ;
  }
  .announcements-lab {
    text-align: left;
    margin: 100px 0px 30px 10px;

  }
  .announcements-para {
    margin-left: 20px;
  }
}
@media (max-width: 900px) {
    .background-video {
      display: none;
    }
    .background-video-mobile {
      display: block;
    }
    .welcome-box {
      width: 300px;
      height: auto;
      margin-top: 100px;
    }
    .welcome-para {
      font-size: 18px;
      line-height: 2rem;
    }
    #invis-on-mobile {
      display: none;
      visibility: hidden;
      opacity: 0%;
    }

    #Bangla {
      display: none;
    }
    .vis-on-mobile {
      display: grid;
      align-items: start;
    }
    .sub-heading {
      font-size: 1em;
      letter-spacing: 0px;
    }
    header {
      position: fixed;
    }
    .svg-holder {
      animation: none;
    }
    .ali-right {
      text-align: center;
    }
    .ali-left {
      text-align: center;
    }
    .teachers-desc {
      display: grid;
      text-align: center;
      justify-content: center;
      justify-items: center;
      width: 100vw;
      padding: 1px;
      font-size: 20px;
    }
    .teachers-main {
      grid-template-areas:
        "name"
        "teacher-img"
        "description"
        "name-2"
        "teacher-img-2"
        "description-2"
        "name-3"
        "teacher-img-3"
        "description-3"
        "quote";

      justify-items: center;
      justify-content: center;
    }
    .sir-desc {
      font-size: 22px;
      line-height: 1rem;
      line-height: 2rem;
    }
    .blogs {
     grid-template-columns: 1fr 1fr;
     grid-template-areas: 
     "eng-blog eng-blog"
     "bn-blog bn-blog"
     ;
    } 
    .not-main, .sub-heading, .images-header {
      display: none;
    }
    ::-webkit-scrollbar {
      width: auto;
  }
  .clock-main {
    padding: 0px 0px;
  }
  .ict-lab {
  grid-template-areas: 
  "lab-pic"
  "lab-para"
  "lab-clock-sub"
  "lab-clock-para"
  "clock-main"
  ;
  }
  .announcements-lab {
    text-align: center;
    margin: 0px;

  }
  .announcements-para {
    margin-left: 0px;
    text-align: center;
  }
}

@media (max-width: 400px) {
    .svg-holder {
      display: none;
    }
    .teachers-main {
      justify-items: center;
      justify-content: center;
    }
}

html, body, svg, g, .committee-mem, .teachers-section, .clock-main, .ict-lab, .timeline, #blogs, header {
  /*man im glad i learned this existed cause horizontal scrolling was the most annoying thing ever*/
  overflow-x: hidden;
  max-width: 100vw;

}
body {
  background-color: var(--background);
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: var(--main-text);
}
body::selection {
  color: var(--background);
  background-color: var(--main-text);
}
/*scrollbar design, YEAAAHHHH*/

::-webkit-scrollbar-track {
  background-color: hsl(from var(--background) h s calc(l + 5));
}
::-webkit-scrollbar-thumb {
  background: var(--main-text);
}
::-webkit-scrollbar-thumb:hover {
  background: hsl(from var(--main-text) h s calc(l - 10)); 
}
a {
  color: white;
  text-decoration: none;
  font-style: normal;
}
#open-nav-main:hover {
  backdrop-filter: blur(20px);
}
.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  background-color: #534a8492;
  backdrop-filter: blur(10px);
  color: var(--main-text);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
  gap: 1.5rem;
  padding-left: 10px;
  padding-top: 10px;
  margin: 0;
}
.vis-on-mobile {
  margin-left: 10vw;
}
#nav-main {
  font-weight: normal;
  font-size: 18px;
}
.sidebar, li {
  list-style: none;
}

nav {
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 2rem;
  font-size: larger;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  background-color: #2f2f3d;
  width: 100vw;
  height: auto;
  border-bottom: 2px solid var(--main-text);
  font-family: "Karla", sans-serif;
  font-weight: 300;
  font-optical-sizing: auto;
  margin-bottom: 0.1em;
  z-index: 997;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.751);
}
.logos-main {
  width: 140px;
  height: 140px;
}
/*
.fixed-header {
    position: fixed;
}

.normal-header {
    position: relative;
}
*/
.main {
  font-family: "Playwrite AT", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
  font-size: 3em;
  text-decoration: underline dotted var(--main-text);
  color: var(--main-text);
}
.not-main {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-variation-settings: "wdth" 94.3;
  margin-bottom: 2em;
}
.first-header {
  margin: 10px;
  line-height: 0.5em;
}
.images-header {
  margin: 10px;
}
.link-header {
  display: flex;
  justify-self: right;
  flex-wrap: wrap;
  align-items: center;
  height: 5em;
  margin-left: 20;
  font-weight: 500;
}
.Bangla {
  margin-left: 1rem;
  width: 8rem;
  color: var(--background);
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-color: var(--main-text);
  transition: 200ms ease-in;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  align-items: center;
  padding: 20px;
  font-style: normal;
  margin: 0px 100px;
  border-radius: 500vw;
}
.Bangla:hover {
  background-color: rgb(127, 255, 127);
  border: 2px solid rgb(255, 110, 110);
  translate: -5px -5px;
}
/*everything above this until "header" is the style of the header or a part of the header, i know this is insane but im making this website for a project so whatever*/
.button {
  margin-left: 1rem;
  width: 8rem;
  color: var(--main-text);
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-color: transparent;
  border: 3px solid var(--main-text);
  transition: 200ms ease-in;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  align-items: center;
  padding: 20px;
  font-style: normal;
  border-radius: 50vw;
}
.button:hover {
  background-color: var(--main-text);
  color: var(--background);
  border: 0px;
  transform: scale(1.1);
}
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  transform: translateY(-100px);
  width: 100%;
}
.background-video-mobile {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 100vw;
  z-index: -10;
}
.teachers-section, #blogs {
  background-color: var(--background);
}
/*
This used to be the old background of the front of the website. But i changed it to a video

literally cool-back means cool background, (credits to Jubair, whose picture i used for this)
.cool-back {
  margin: 0%;
  position: relative;
  width: 100vw;
  display: grid;
  align-items: center;
  background-image: url(Mirpur_10_Night_view.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 1000px;
  left: 0;
  background-repeat: no-repeat;
}
*/
.welcome {
  font-size: 4em;
  font-weight: 600;
  animation-name: font-changes;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0.79, -0.06, 0.1, 0.68);
  animation-delay: 5s;
  text-shadow: 0px 0px 20px #ffffff61;
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 5px;
  z-index: 10;
  border-bottom: 2px dashed #757575;
}
.link-to-about {
  background-color: #1b1b1b99;
  border-radius: 10px;
  padding: 2px 5px;
  text-decoration: underline;
  text-decoration-color: white;
}
.link-to-about:hover {
  background-color: #33333399;
}
.welcome:hover {
  text-shadow: none;
  transition: 500ms ease;
}
.welcome-box {
  position: relative;
  height: auto;
  padding: 10px 20px;
  background-color: #32408716;
  /*this filter is to achieve a glass effect on the background of the welcome message*/
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border-top: 1px solid #9a93ffa0;
  border-left: 1px solid #a593ffa0;
  box-shadow: 20px 20px 10px #0f0f1d45;
  opacity: 0%;
  animation: slick-intro-on 1.5s ease-out 1 forwards;
  animation-delay: 5s;
  color: white;
}
.svg-holder {
  opacity: 0%;
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  inset-inline: 0;
  max-width: 100vw;
  overflow-x: hidden;
}
/*a credits box that credits the credited owner of the image on the top of the website*/
.credits-jubair {
  display: grid;
  height: auto;
  width: 15em;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  color: var(--main-text);
  background-color: hsl(from var(--background) h s calc(l + 3));
  align-content: center;
  text-align: center;
  transform: translateY(30px);
  font-size: large;
  letter-spacing: 2px;
}
.teachers-section, .committee-mem {
  background-image: url(banner_back.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}
.teachers-section {
  padding-bottom: 5vh;
}
.sir-quote {
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 2rem;
  margin-right: 3vw;
  text-align: right;
  border-right: 2px solid var(--main-text);
  padding-right: 10px;
}
.teachers-main {
  position: relative;
  display: grid;
}
.title-teachers {
  text-align: center;
  font-size: 70px;
  margin-top: 0px;
  font-family: "Bree Serif", serif;
  font-weight: 600;
  color: oklch(from var(--background) calc(l + 0.55) calc(c + 0.05) h);
  padding-top: 100px;
}
.teachers-desc {
  letter-spacing: 1px;
  line-height: 1.7rem;
  margin-bottom: 10vh;
  font-weight: 400;
  background-size: cover;
  background-image: url();
  color: oklch(from var(--background) calc(l + 0.5) calc(c + 0.03) h);
  border-bottom: 2px dashed
    oklch(from var(--background) calc(l + 0.1) calc(c + 0.01) h);
}
.sir-name {
  font-size: 70px;
  padding: 25px;
  margin: 0;
  font-weight: 500;
}
.sir-name:hover {
  text-shadow: 
    -1px -1px 0 hsl(from var(--main-text) calc(h + 200) s l),
    1px  -1px 0 hsl(from var(--main-text) calc(h + 240) s l),
    -1px 1px 0 hsl(from var(--main-text) calc(h + 280) s l),
    1px  1px 0 hsl(from var(--main-text) h s l),
    0px  0px 50px var(--background);
  color: var(--background);
  transition: 300ms ease-in;
  
}
.sir-desc {
  padding: 25px;
  justify-content: start;
  margin: 0;
  font-weight: 400;
  letter-spacing: 1px;
}
#blogs {
  color: white;
  background-color: #1e1010;
  padding-top: 10vh;
}
.blogs {
  display: grid;
  justify-content: center;
}
.blogs-main {
  margin: 0vh 0px 0px 10vw;
}
.blogs-bn, .blogs-eng {
  margin: 20px 0px 20px 10vw;
  line-height: 3rem;
  font-weight: 300;
  color: white;
}
.blogs-head {
  font-size: 70px;
  margin: 0px;
  padding-top: 2vh;
  letter-spacing: 2px;
  grid-area: blogs-head;
}
.blogs-sub {
  font-weight: 400;
  letter-spacing: 1px;
  grid-area: blogs-sub;
  margin-bottom: 20vh;
  line-height: 2rem;
}
.committee-main {
  padding: 10vh 0vw;
  display: grid;
}
.committee-chart {
  margin-left: 5%;
}
.ict-lab {
  display: grid;
}
.clock {
  display: grid;
  justify-content: center;
  gap: 0px 10px;
  grid-area: clock-main;
  grid-template-areas: 
  "time-d time-h time-m time-s"
  "day hour min sec"
  "sub sub sub sub"
  ;
}
#day, #hour, #minute, #second { /* all of these IDs are for the clock*/
  font-size: 60px;
  text-align: center;
}
.clock-main {
  margin-top: 50px;
  line-height: 10px;
  background-color: var(--main-text);
  color: var(--background);
  min-width: 0px;
}
.clock-main::selection {
  background-color: var(--background); /* To make sure that there is actually a difference between the selected text and non-selected text*/
  color: var(--main-text);
}
.time-para {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.sub-heading-timeline {
  text-align: center;
  font-size: 30px;
  margin-bottom: 100px;
}
.announcements-lab {
  font-size: 60px;
}
.announcements-para {
  font-size: 18px;
  font-weight: 400;
  color: oklch(from var(--background) calc(l + 0.55) calc(c + 0.05) h);
}
footer {
  background-image: url(https://shiddhantaict.wordpress.com/wp-content/uploads/2026/01/i-made-shardscapes-wallpapers-for-both-your-phone-and-pc-v0-ofyzk1kayvzc1.jpg);
}
/* animation that basically will make the welcome box show up after a given time */

@keyframes slick-intro-on {
  0% {
    opacity: 0%;
    visibility: hidden;
  }
  100% {
    opacity: 100%;
    visibility: visible;
  }
}

/* althoug this animation will turn of the "Mirpur" text after a given time */

@keyframes slick-intro-off {
  0% {
    opacity: 100%;
  }
  90% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    transform: scale(1.3);
  }
}
@keyframes intro-off {
  0% {
    opacity: 100%;
  }
  90% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    letter-spacing: 3px;
  }
}

/*the animation that needed so many fonts*/
@keyframes font-changes {
  0% {
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0px 0px 20px #ffffffb3;
  }
  10% {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-shadow: 0px 0px 20px #ffffffb3;
  }
  15% {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-style: oblique;
    text-shadow: 0px 0px 20px #ffffffb3;
  }
  20% {
    font-family: "Courier New", Courier, monospace;
    font-size: 3.5em;
  }
  25% {
    font-family:
      "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 4.5em;
  }
  30% {
    font-family: "Times New Roman", Times, serif;
    text-shadow: 0px 0px 20px #ffffffb3;
  }
  35% {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3.5em;
    font-style: italic;
  }
  40% {
    font-family: "Kumar One Outline", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  45% {
    font-family:
      "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
      Arial, sans-serif;
  }
  50% {
    font-family: "Calibri";
    font-style: normal;
    font-weight: 400;
    font-size: 4.5em;
    text-shadow: 0px 0px 20px #ffffffb3;
  }
  55% {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 3.5em;
    font-style: italic;
    text-shadow: 0px 0px 20px #ffffffb3;
  }
  60% {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: oblique;
    text-shadow: 0px 0px 20px #ffffffb3;
  }
  65% {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4.4em;
  }
  70% {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  75% {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-shadow: 0px 0px 20px #ffffffb3;
  }
  80% {
    font-family: "Farro", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 3.5em;
  }
  85% {
    font-family:
      "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  90% {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
  }
  95% {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont;
    text-shadow: 0px 0px 20px #ffffffb3;
    font-size: 3.4em;
  }
  100% {
    font-family: "karla", sans-serif;
    text-shadow: 0px 0px 20px #ffffffb3;
  }
}
